.carousel-container {
    height: 440px;
}
.slider-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-left: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.movie-slider {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 480px) {
    .carousel-container {
        height: 300px;
    }
}
